.host-vans-container {
  margin-bottom: 66px;
}

.host-vans-title {
  font-size: 32px;
  font-weight: bold;
  text-align: start;
}

.host-vans-list {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
