.host-vans-container {
  margin-bottom: 66px;
}

.host-vans-title {
  font-size: 32px;
  font-weight: bold;
  text-align: start;
}

.host-vans-list {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.host-van-link-wrapper {
  width: 100%;
}

.host-van-card {
  padding: 18px 0;
  padding-left: 24px;

  display: flex;
  align-items: center;
  gap: 17px;
  background-color: #fff;

  border-radius: 6px;
}

.host-van-image {
  height: 70px;
  border-radius: 5px;
}

.host-van-info {
  text-align: start;
}

.host-van-name {
  font-size: 20px;
  font-weight: 600;
}

.host-van-price {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
}
