#root {
  max-width: 548px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff7ed;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 36px 26px;
}

.nav-links {
  display: flex;
  gap: 24px;

  font-weight: 600;
  font-size: 16px;
  color: #4d4d4d;
}

.nav-links > a {
  text-decoration: none;
  color: #4d4d4d;
}

.nav-links > a:hover,
.nav-links > a:active,
.van-return-link:active,
.van-return-link:hover {
  color: #161616;
  text-decoration: underline;
}

.van-card-type::first-letter {
  text-transform: capitalize;
}

.van-card-type.simple {
  background-color: #e17654;
}

.van-card-type.rugged {
  background-color: #115e59;
}

.van-card-type.luxury {
  background-color: #161616;
}

footer {
  padding: 26px 0;
  background-color: #252525;

  color: #aaaaaa;
  font-size: 14px;
  font-weight: 500;
}
