:root {
  font-family: Inter, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  font-family: Inter, sans-serif;
  cursor: pointer;
}
